@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%; /*1 rem = 10px*/
    line-height: 3rem; /* interlineado*/
}

body{
    font-size: 1.6rem;
}