footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #E9E9AF;
}

footer div ul li{
    display: inline-block;
}

.redes{
    height: 3rem;
    width: 3rem;
}

.misDatos{
    font-size: 1.4rem;
    text-align: center;
}